services:
  front:
    build: .
    container_name: kero3d
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./src:/app:cached
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: pnpm run dev