services:
  front:
    build: .
    container_name: kero3d
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./src/src:/app/src:cached
      - ./src/public:/app/public:cached
      - ./src/index.html:/app/index.html:cached
      - ./src/vite.config.js:/app/vite.config.js:cached
      - ./src/tsconfig.json:/app/tsconfig.json:cached
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: pnpm run dev