services:
  front:
    build: .
    container_name: kero3d
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - .:/app:cached
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0